<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokemonTracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0FB2E7A226E734C00F90F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FB2E91226E734E00F90F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FB2E9C226E734E00F90F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
